<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">
<link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
<title>CodePen - blinking _apple</title>
<style>
body{
  background:#FFFF99;
}
.container{
  margin-top:250px;
  text-align:center;
  margin-left:80px;
  margin-right:100px;
  
}
.c{
  font-size: 4.2rem;
  width:8rem;
  height:8rem;
  margin:1rem;
  bottom:200px;
  position:relative;
  display:inline-block;
}
.apple{
  width:6em;
  height:5em;
  background-color:#FF0000;
  box-shadow: inset 0.2em -0.2em #8B0000; 
  border-radius: 2em 2em 3em 3em;
  position:absolute;
  top: 1em;
  left:7em;
}

.apple:before{
  top:-.2em;
  left:1.8em;
  content:"";
  width:4.1em;
  height:2.75em;
  background-color:inherit;
  border-radius: 3em 3em 0 0;
  position:absolute;
  box-shadow: -1.5em 0 0 #FF0000, inset .2em 0.2em #FF0000;
  
}
.apple:after{
  content:"";
  width:0.2em;
  height:1em;
  background-color:maroon;
  position:absolute;
  z-index; 2;
  top:-0.5em;
  left:3em;
}
*{
  position:absolute;
}
.mouth{
  width:55%;
  height:32px;
  bottom:-200px;
  left:650px;
  background-color: #FFF0F5;
  border-radius: 10px 10px 150px 150px;
  border: 2px solid maroon;
}
.tongue{
   width:10%;
  height:43px;
  bottom:-160px;
  left:187px;
  background-color: tomato;
  border-radius: 10px 10px 150px 150px;
  -webkit-animation: anim 1s infinite linear;
  animation: anim 1s infinite linear;
  
}
.eyes{
  width:400px;
  height:100px;
  top:95px;
  left:482px;
}
.eye{
  background-color:black;
  width:100px;
  height:100px;
  border-radius: 50%;
  -webkit-transform-origin:50%;
  -webkit-animation:blink 2s infinite;
}
.eye-left{
  left:45px;
  top:22px;
}
.eye-right{
  right:65px;
  top:22px;
}
.eye:hover{
  background:linear-gradient(2deg,#c0c0c0,#a9a9a9,#808080);
}
@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(.8, .04);
    }
    5%,
    95% {
        transform: scale(.8, .8);
    }
}
/*#show{
  animation: cssanimation 0s 4s forwards;
  visibility:hidden;
  
}
@keyframes cssanimation{
  to{visibility: visible;}
}*/
@-webkit-keyframes anim{
  from{-webkit-transform: rotateX(0deg);}
  to{-webkit-transform: rotateX(35deg);}
}
@keyframes anim{
  from{transform: rotateX(0deg);}
  to{transform: rotateX(35deg);}
}
</style>
<script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>
<body translate="no">
<body>
<div class="container">
<div class="c">
<div class="apple"></div>
<div class="mouth"></div>
<div class="eyes">
<div class="eye eye-left"></div>
<div class="eye eye-right"></div>
<div id="show" class="tongue"></div>
</div>
</div>
</div>
</body>
</body>
</html>
